<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f7880">  <td>20/01/21 12:10:57</td>   <td>0</td> <td title="&gt;&gt;NccdStarter.beforeSuite()[pri:0, instance:tests.TC003_CourseExecutionPage@76c7beb3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1780293706</td>   <td></td> </tr>
<tr bgcolor="9964b9">  <td>20/01/21 12:10:57</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_CourseExecutionPage.CoursePageExecution()[pri:0, instance:tests.TC003_CourseExecutionPage@76c7beb3]">CoursePageExecution</td> 
  <td>main@1780293706</td>   <td></td> </tr>
<tr bgcolor="9f7880">  <td>20/01/21 12:11:41</td>   <td>43109</td> <td title="&lt;&lt;NccdStarter.afterSuite()[pri:0, instance:tests.TC003_CourseExecutionPage@76c7beb3]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1780293706</td>   <td></td> </tr>
</table>
